/* [project]/plant-friends/node_modules/.pnpm/semantic-ui-css@2.5.0/node_modules/semantic-ui-css/semantic.min.css [client] (css) */
/* unparsable [project]/plant-friends/node_modules/.pnpm/semantic-ui-css@2.5.0/node_modules/semantic-ui-css/semantic.min.css [client] (css) */
