.shop-container {
  margin-top: 2rem;
  padding: 1rem;
  background-color:#aaed61;
  border-radius: 10px;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.shop-header h1 {
  margin: 0;
  font-size: 2rem;
  width:fit-content;
  color: #2e7d32;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration:underline;
  text-decoration-style: wavy;
  text-decoration-thickness:5%;
  text-underline-offset: 30%;
}

.shop-message {
  margin-bottom: 2rem;
  font-weight: 500;
}

.shop-header .statistic {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:#ffffff9f;
  border-radius: 20px;
  padding: 1%;
  vertical-align: middle;
  border-color: #00000090;
  border-style: solid;
  width:15%;
  text-align: center;
  font-weight:bold;
  margin:2%
}

.shop-header .button {
  font-weight: bold;
  border-radius: 10px;
  padding: 1%;
  height:50px;
  width: 15%;
  font-size:small;
  margin:2%;
}

.shop-card {
  width: fit-content;
  height:fit-content;
  margin:2%;
  
}

.shop-card .content {
  min-height: 220px;
  background-color: beige;
  border-radius: 20px;
  text-align: center;
  justify-items: center;
  padding: 5%;
  width: fit-content;
  aspect-ratio: 1/1;
  vertical-align:middle; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.shop-card .emoji {
  font-size: 300%;
  margin: 1%;
  border-radius: 50%;
  border-color: #2e7d43;
  background-color: #dff2cb;
  border-width: 400%;
  border-style: solid;
  align-content: center;
  text-align: center;
  border-radius:100%;
  border-width: 100%;
  padding: 5%;
  aspect-ratio: 1/1;
}

.shop-card .header {
  font-size: 1.3rem;
  font-weight: bold;
  color: #388e3c;
  
}

.shop-card .meta {
  margin: 0.5rem 0;
  font-weight: 500;
  color: #757575;
}

.shop-card .description {
  font-size: 0.9rem;
  color: #555;
}

.shop-card .extra.space {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shop-card button {
  font-weight: 600;
  border-radius: 5px;
  width: 60%;
  height:10%;
  font-size:small;
  border-spacing: 20px;
  margin:2%;
}

.blur {
  filter: blur(3px);
  pointer-events: none;
}

.modal {
  background: #f9fbe7; 
}

.modal .header {
  font-size: 1.5rem;
  color: #2e7d32;
}

.modal p {
  margin: 1rem 0 0.5rem;
  font-weight: 500;
}

.modal input {
  margin-bottom: 1rem;
}