import
.App {
  text-align: center;
   background-image: linear-gradient(rgba(121, 206, 75, 0.738),rgba(121, 206, 75, 0.621)), url('natalie-kovach-ph7QQq63lCs-unsplash.jpg');
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  min-height: 100vh;
 background-image: linear-gradient(rgba(121, 206, 75, 0.738),rgba(121, 206, 75, 0.621)), url('natalie-kovach-ph7QQq63lCs-unsplash.jpg');  background-size: cover;       /* scale to cover screen */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* prevent tiling */
  font-family: 'Segoe UI', sans-serif;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
