.center {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.space {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(rgba(121, 206, 75, 0.738),rgba(121, 206, 75, 0.621)), url('natalie-kovach-ph7QQq63lCs-unsplash.jpg');
  background-size: cover;       /* scale to cover screen */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* prevent tiling */
  font-family: 'Segoe UI', sans-serif;
}

.modal {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 165, 80);
    z-index: 100;
    padding:40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur {
    /* background: rgba(0, 0, 0, 0.6); */
    backdrop-filter: blur(2px);
}

.alert {
    background-color: rgb(61, 178, 61);
}
